<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'form2.css' %}" />
</head>
<body>
    
    <a class="back-button" href="/..">BACK</a>
    <!-- the form -->
    <div class="the-form">
        <h1>Hello, how are you?</h1>
        <!-- <form action="/form_add/" method="POST"> -->
        <form action="/form/form_add/" method="POST">
            {% csrf_token %}
            <label for="">Name:</label>
            {{form.name}}
            <label for="">Type your status:</label>
            {{form.status}}
            <input type="submit" class="submit-button">
        </form>
        
        <form action=""></form>
        
        <br><br>
        <form action="/form/del_all/" method="POST" id="form1">
            {% csrf_token %}
            <button class="del-button" type="submit" form="form1" value="Submit">Delete all</button>
        </form>

        <div class="list-stat">
            <h1>Lists</h1>
            {% if events %}
            {% for e in events %}
            <ul>
                <li id="name"> <h3> {{e.name}} </h3> </li>
                <p>{{e.status}}</p>
            </ul>
            {% endfor %}
            {% else %}
            <p>No status yet</p>
            {% endif %}
        </div>
    </div>

</body>
</html>