<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'prof1.css' %}" />
</head>

<body>
    
    <div class="container">
        <img id="myImg" src="https://files.catbox.moe/73bqc7.png" alt="" height="160" width="120">
        <h1>Athallah Annafis</h1>
        <p>Tell me your status ^_^</p>
        <a class="form-button" href="/form">Fill the form</a>
    </div>

</body>

</html>