input[type=text], select, textArea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


body {
    padding: 30px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1.field {
    text-align: left;
}

.the-form {
    padding-left: 20%;
    padding-right: 20%;
    /* padding: 0% auto; */
    margin: 0 auto;
}

@media only screen and (max-width: 400px) {
    .the-form {
        padding-left: 5%;
        padding-right: 5%;
        margin: 0 auto;
    }
}

p {
    word-break: break-all;
    word-spacing: 16pt;
}

.submit-button {
    background-color: #1a700f;
    color: white;
    border-style: solid;
    border-color: #1a700f;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
}
    
.submit-button:hover {
    background-color: white;
    color: #1a700f;
    border-style: solid;
    border-color: #1a700f;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.back-button {
    text-decoration: none;
    background-color: #318adf;
    color: white;
    border-style: solid;
    border-color: #318adf;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.back-button:hover {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #318adf;
    border-style: solid;
    border-color: #318adf;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.del-button {
    background: red;
    color: white;
    padding: 10px 10px;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
    border-color: red;
}

.del-button:hover {
    background: white;
    color: red;
    padding: 10px 10px;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
    border-color: red;
}