body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
    background-color: rgb(245, 234, 135);
    border-style: solid;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 30px;
        background-color: rgb(245, 234, 135);
        border-style: solid;
        border-radius: 10px;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5%;
        text-align: center;
    }
}

.container #myImg {
    border-radius: 50%;
}

.form-button {
    text-decoration: none;
    background-color: #318adf;
    color: white;
    border-style: solid;
    border-color: #318adf;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.form-button:hover {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #318adf;
    border-style: solid;
    border-color: #318adf;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
}